*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

}

.prin{
    width: 80%;
    height: 70vh;
    display: flex;
    background-color: orangered;
    border-radius: 40px;
   
}

.imagem{

    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.login{

    width: 40%;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    padding: 3rem;
    

    
    
    
}

button{

    border: none;
    background-color: fff;
    padding: 0.5rem 1rem;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 900;
  
}

button:hover{
    background-color: aqua;
}

input{

    padding: 0.9rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 7px;

}

label{
    font-size: 30px;
    max-width: 1rem;
    
}

h1{
    font-size: 50px;
   
}
